#log{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 14dvh;
    overflow: auto;
    list-style: none;
    font-size: 1em;
    padding: 5px 50px;
    border: 2px solid var(--border-color);

    .player1{
        color: var(--player1-color);
    }

    .player2{
        color: var(--player2-color);
    }
}